mackelab
sinn
theano_shim

pymc3
parameters
sumatra

click
cycler
dill
Django
django-tagging
entrypoints
GitPython
graphviz
h5py
html5lib
ipykernel
ipython
ipywidgets
Jinja2
joblib
jsonpickle
jupyter
matplotlib
mpmath
numpy
odictliteral
pandas
psycopg2
pydot-ng
pyparsing
pyperclip
PyQt5
PyQt5-sip
PyYAML
qtconsole
scipy
simpleeval
simplegeneric
sip
six
sympy
terminado
tornado
tqdm
