# Sinn stack
mackelab-toolbox
sinn
theano_shim
smttask

# Sumatra stack
parameters
sumatra
GitPython
psycopg2
PyYAML

# Numerical stack
numpy
scipy
matplotlib
seaborn
pandas
mpmath
sympy

# Jupyter stack
jupyter
jupyterlab
qtconsole

# IPython stack
ipykernel
ipython
ipywidgets

# Bayesian inference stack
pymc3

# Utilities
tqdm
odictliteral
simpleeval
